# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/modules/app/revolut-live-coding.app.iml
/.idea/modules/app/revolut-live-coding.app.main.iml
/.idea/modules/app/revolut-live-coding.app.test.iml
/.idea/sonarlint/issuestore/0/5/05efc8b1657769a27696d478ded1e95f38737233
/.idea/sonarlint/issuestore/2/4/24139dae656713ba861751fb2c2ac38839349a7a
/.idea/sonarlint/issuestore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
/.idea/sonarlint/issuestore/5/b/5bbfa66edb4db3c7c33c5181f43510990d3307f9
/.idea/sonarlint/issuestore/9/0/90c8c91fc2fccdeb6b8319a2444bc1ee38bab9eb
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/a/e/aecf00c66f917c6bfdc4c9a10d1df270f867b04d
/.idea/sonarlint/issuestore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/0/5/05efc8b1657769a27696d478ded1e95f38737233
/.idea/sonarlint/securityhotspotstore/2/4/24139dae656713ba861751fb2c2ac38839349a7a
/.idea/sonarlint/securityhotspotstore/2/a/2a45a911a8f1836b0b6c5b758962572012d8f8c3
/.idea/sonarlint/securityhotspotstore/5/b/5bbfa66edb4db3c7c33c5181f43510990d3307f9
/.idea/sonarlint/securityhotspotstore/9/0/90c8c91fc2fccdeb6b8319a2444bc1ee38bab9eb
/.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/securityhotspotstore/a/e/aecf00c66f917c6bfdc4c9a10d1df270f867b04d
/.idea/sonarlint/securityhotspotstore/f/4/f4a01d6a4fcb971362ec00a83903fd3902f52164
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/revolut-live-coding.iml
/.idea/sonarlint.xml
/.idea/vcs.xml
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/sonarlint
/.idea/modules
