Register instances

x It should be possible to register a backend instance, identified by an url address
x Each address should be unique, it should NOT be possible to register the same address more than once
x Load balancer should accept up to 10 addresses
